<div class="main-heading text-center" style="background-color : #7afcf" >
    <h1 class=""> Quillette Article Scraper </h1>
    <a class="btn" id="getArticles" style="color: white" href="/scrape">scrape for articles</a>
</div>





<footer class="footer text-center">
  <p class="footer-text">
    <a href="https://github.com/odavom">Anthony Mastanduno</a>
  </p>
</footer>