<div class="main-heading text-center" style="background-color : #7afcf" >
    <h1 class=""> Quillette Article Scraper </h1>
    <a class="btn" id="getArticles" style="color: white" href="/scrape">scrape for articles</a>
</div>

<div class="text-center" id="wrapper">
  <div id="articles" class="card">
    <h3 id="load" style="visibility:hidden" data-text="Loading…">Loading…</h1>
      {{#each dbArticle}}
      <div class="card-body">
        <a target="_blank" class="card-title" href={{link}}>{{title}}</a>
        <p data-toggle="modal" data-target="#notesModal" class="card-text" data-id={{_id}}>{{summary}}</p>
      </div>
      {{/each}}
  </div>
</div>

<div id="notesModal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="notes">
      </div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<footer class="footer text-center">
  <p class="footer-text">
    <a href="https://github.com/odavom">Anthony Mastanduno</a>
  </p>
</footer>